/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*reset end*/

.ol-control button {
    background-color: rgba(129, 55, 162, 0.5);
}

.ol-control button:focus, .ol-control button:hover {
    background-color: rgba(129, 55, 162, 0.7);
}

html, body, #map-canvas, #form1, .map {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-width: 1000px;
    min-height: 650px;
    font-family: Tahoma;
}

@font-face {
    font-family: 'IcoMoon';
    src: url('../fonts/icomoon-custom.ttf?-qzdfrf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ltr-body .ol-zoom {
    right: .5em;
    left: auto;
}

.ltr-body {
    direction: ltr;
}

.rtl-body {
    direction: rtl;
}

.search-pane {
    width: 30%;
    float: left;
    height: 99.5%;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 2px black;
}

#menu-bar {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 300px;
    /*height:40px;*/
    z-index: 1000000
}

.ltr-body #menu-bar {
    left: 50px;
    right: auto;
}

.search-bar * {
    float: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.rtl-body .search-bar > * {
    margin-right: 2px;
}

.rtl-body .search-bar > *:last-child {
    margin-right: 0;
}

.ltr-body .search-bar > * {
    margin-left: 2px;
}

.ltr-body .search-bar > *:last-child {
    margin-left: 0;
}

.ltr-body .search-bar * {
    float: right;
}

.search-field {
    width: 219px;
    height: 22px;
    border: 0;
    padding: 0 5px;
}

.buttons {
    font-family: 'IcoMoon', 'Tahoma';
    background-image: linear-gradient(rgb(161, 75, 200), rgb(129, 55, 162));
    border: 0;
    color: white;
    cursor: pointer;
    direction: ltr;
}

.buttons:not(.disabled):hover {
    background-image: linear-gradient(rgb(141, 55, 180), rgb(109, 35, 142));
}

.buttons.disabled {
    opacity: .5;
    cursor: default;
    outline: none;
}

.search-button:before {
    content: "\e602";
}

.search-button {
    width: 36px;
    height: 23px;
}

.adv-search-button {
    height: 23px;
    width: 8px;
    font-size: 12px;
}

.adv-search-button:before {
    content: "\f0dd";
}

.buildings-button:before {
    content: "\e601";
}

.buildings-button {
    width: 23px;
    height: 23px;
}

.search-box, .buildings-catalog-box, .room-details-pane, .building-details-pane, .floor-plan, .adv-search-box {
    width: 100%;
    min-height: 15px;
    margin-top: 35px;
    background: white;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/*.adv-search-box {*/
/*width: 150%;*/
/*height: 300px;*/
/*}*/

.search-results-container {
    max-height: 205px;
    display: block;
    overflow: auto;
}

.room-details-pane, .floor-plan {
    margin-top: 3px;
}

.building-details-pane {
    margin-top: 26px;
}

.details-wrapper {
    padding: 10px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    position: absolute;
    top: -7px;
}

.rtl-body .search-box .arrow-up {
    left: 10px;
}

.rtl-body .adv-search-box .arrow-up {
    right: 253px;
}

.rtl-body .buildings-catalog-box .arrow-up {
    right: 7px;
}

.ltr-body .search-box .arrow-up {
    right: 12px;
}

.ltr-body .adv-search-box .arrow-up {
    left: 253px;
}

.ltr-body .buildings-catalog-box .arrow-up {
    left: 5px;
}

.ico-plus, .ico-minus {
    font-family: 'IcoMoon';
    font-style: normal;
    font-size: 12px;
    padding: 2px;
}

.ico-plus:before {
    content: "\e603";
}

.ico-minus:before {
    content: "\e604"
}

.rooms-container {
    padding-left: 20px;
}

.floor-plan-container {
    padding: 20px 0;
}

.floor-plan-img {
    height: 100%;
    position: absolute;
}

.floor-plan-img-container {
    position: relative;
    margin: 0 auto;
}

.floor-plan-svg {
    position: absolute;
    height: 100%;
    direction: ltr;
    font-family: Tahoma;
    font-weight: bold;
}

.floor-plan-container:not(.cubicles-shown) .svg-room {
    cursor: pointer;
}

.svg-room path, path.svg-room{
    fill: rgba(0, 0, 0, 0);
}

.floor-plan-container:not(.cubicles-shown) .svg-room:hover path,path.svg-room:hover{
    fill: rgba(141, 55, 180, 0.1);
    stroke: rgb(141, 55, 180);
    stroke-width: 1px;
}

.floor-plan-container:not(.cubicles-shown) .svg-room.selected path, path.svg-room.selected {
    fill: rgba(141, 55, 180, 0.4);
}

.svg-room text {
    stroke: #ffffff;
    stroke-width: 1px;
    stroke-opacity: 0.7;
}

.close-button {
    float: right;
    background: rgba(0, 0, 0, 0);
    border: none;
    height: 24px;
    width: 24px;
    padding: 0;
    user-focus: none;
}

.rtl-body .close-button {
    float: left;
}

.widget-title-bar {
    height: 26px;
    border-bottom: 1px solid gray;
}

.widget-title {
    padding: 0 4px;
    line-height: 24px;
}

.buildings-catalog-container {
    height: 205px;
    overflow-y: auto;
    display: block;
}

.floor-plan-title-bar {
    height: 26px;
    border-bottom: 1px solid gray;
}

.floor-plan-title {
    padding: 0 4px;
    line-height: 24px;
}

.plus-button, .minus-button {
    height: 20px;
    width: 20px;
    font-size: 12px;
    line-height: 18px;
}

.plus-button:before {
    content: "\e606";
}

.minus-button:before {
    content: "\e609"
}

.ltr-body .plus-button {
    margin-left: 2px;
}

.rtl-body .plus-button {
    margin-right: 2px;
}

.floor-plan-popup {
    position: fixed;
    z-index: 500001;
    top: 70px;
    right: 400px;
    width: 500px;
}

.ltr-body .floor-plan-popup {
    left: 400px;
    right: auto;
}

@media (min-width: 1200px) and (min-height: 850px) {
    .floor-plan-popup {
        width: 750px;
    }

    .buildings-catalog-container {
        height: 300px;
    }

    .search-results-container {
        max-height: 300px;
    }
}

@media (min-height: 650px) and (max-height: 750px) {
    #menu-bar{top: 10px; right: 20px; }
    .ltr-body #menu-bar {
        left: 20px;
        right: auto;
    }
    .search-results-container, .buildings-catalog-container{
        max-height: 140px;
    }
}

.toggle-dock-button {
    height: 20px;
    width: 20px;
    float: left;
    margin: 3px;
    font-size: 9px;
}

.ltr-body .toggle-dock-button {
    float: right;
}

.toggle-dock-button.docked:before {
    content: '\e605';
}

.ltr-body .toggle-dock-button.docked:before {
    content: '\e607';
}

.toggle-dock-button.undocked:before {
    content: '\e608';
}

.ltr-body .toggle-dock-button.undocked:before {
    content: '\e60a';
}

.staff-card-container {
    padding-bottom: 10px;
}

.staff-card-border {
    border-bottom: 1px solid gray;
}

.staff-card-container:last-child .staff-card-border {
    border-bottom: none;
}

.staff-card-item {
    padding: 2px 0;
    font-size: 13px;
}

.no-results {
    padding: 5px 10px;
}

.search-results-wrapper{
    padding: 10px;
}

.location-card-item {
    font-size: 13px;
    cursor: pointer;
    padding: 5px 0;
}

.location-card-item:hover{
    background-color: #fafafa;
}

.location-card-item-details {
    font-size: 12px;
    color: rgb(153, 153, 153);;
}

.goto-room {
    color: blue;
    cursor: pointer;
}

.svg-cubicle-path {
    fill: rgba(151, 65, 190, 0.1);
    stroke: rgb(141, 55, 180);
    stroke-width: 1px;
    cursor: pointer;
}

.svg-cubicle-path.selected {
    fill: rgba(141, 55, 180, 0.6);
}

.cubicles-shown .svg-cubicle-path:hover {
    fill: rgba(141, 55, 180, 0.3);
}

.flags-box-container {
    position: fixed;
    top: 0;
    z-index: 500000;
    width: 100%;
    height: 0;
}

.flags-box {
    width: 97px;
    height: 40px;
    background-color: rgba(255, 255, 255, .4);
    margin: auto;
    border-radius: 0 0 10px 10px;
}

.flags-holder {
    float: right;
    padding: 5px 5px 5px 0;

}

.flags-holder img {
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}
.link-button-container{
    position: relative;
    display: inline-block;
}

.link-button {
    color: blue;
    cursor: pointer;
    font-size: 80%;
}

.link-button:after {
    content: "\e6cc";
    font-family: 'IcoMoon', 'Tahoma';
}

.link-container{
    position: absolute;
    top: -45px;
    right: -10px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    white-space: nowrap;
    z-index: 10000000;
}
.ltr-body .link-container{
    left: -10px;
    right: auto;
}

.arrow-down{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid white;
    position: absolute;
    bottom: -7px;
    right: 10px;
}
.ltr-body .arrow-down{
    left: 10px;
    right: auto;
}

.floor-buttons {
    position: fixed;
    background-color: white;
    z-index: 400000;
    display: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.no-selection{
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.modal-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 500010;
}

.usage-window {
    position: absolute;
    width: 250px;
    top: 60px;
    background-color: white;
}

.rtl-body .usage-window{right: 370px}
.ltr-body .usage-window{left: 370px}

.usage-button{
    color: blue;
    cursor: pointer;
}
.usage-time{
    padding: 5px 5px 0 5px;
}
.no-usage-data, .usage-time:last-child{
    padding: 5px;
}