html, body, #map-canvas, #form1, .map { height: 100%; margin: 0; padding: 0;}

@font-face {
	font-family: 'IcoMoon-Free';
	src: url('../fonts/IcoMoon-Free.ttf?-b7qzp2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.ltr-body .ol-zoom {
    right: .5em;
    left: auto;
}

.ltr-body {
    direction: ltr;
}

.rtl-body {
    direction: rtl;
}

.search-pane {
    width: 30%;
    float: left;
    height: 99.5%;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 2px black;
}

#menu-bar {
	position: fixed;
	top: 50px;
	right: 50px;
	width:300px;
	/*height:40px;*/
	z-index:1000000
}

.ltr-body #menu-bar {
    left: 50px;
    right: auto;
}

.search-bar * {
    float:left;
    margin-right:2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.ltr-body .search-bar * {
    float: right;
}

.search-field {
    width: 200px;
    height: 20px;
    border: 0;
}

.buttons {
    font-family: 'IcoMoon-Free';
    background-image: linear-gradient(rgb(161,75,200),rgb(129,55,162));
    border: 0;
    color: white;
    cursor: pointer;
    direction: ltr;
}

.buttons:hover {
    background-image: linear-gradient(rgb(141,55,180),rgb(109,35,142));
}

.search-button:before {
    content: "\e986";
}
.search-button {
    /*padding: 5px 15px;*/
    width: 44px;
    height: 23px;
}

.buildings-button:before {
    content: "\e903";
}
.staff-button:before {
    content: "\e972";
}

.buildings-button, .staff-button  {
    width: 23px;
    height: 23px;
    /*padding: 5px 5px;*/
}

.search-box, .buildings-catalog-box, .staff-catalog-box, .room-details, .floor-plan {
    width:100%;
    min-height:15px;
    margin-top:35px;
    background:white;
    position:relative;
    box-shadow:0 2px 6px rgba(0,0,0,0.3);
}

.room-details, .floor-plan {
    margin-top:3px;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
    position:absolute;
    top:-7px;
}

.rtl-body .search-box .arrow-up {
    left:15px;
}

.rtl-body .buildings-catalog-box .arrow-up {
    right:33px;
}

.rtl-body .staff-catalog-box .arrow-up {
    right:7px;
}

.ltr-body .search-box .arrow-up {
    right:17px;
}

.ltr-body .buildings-catalog-box .arrow-up {
    left:31px;
}

.ltr-body .staff-catalog-box .arrow-up {
    left: 5px;
}

.ico-plus, .ico-minus {
    font-family: 'IcoMoon-Free';
    font-style: normal;
    font-size: 12px;
    padding: 2px;
}
    .ico-plus:before {
        content: "\ea0a";
    }

    .ico-minus:before {
        content: "\ea0b"
    }

.rooms-container {
    padding-left: 20px;
    /*display: none;*/
}

.floor-plan-img{
    height: 100%;
    position: absolute;
}

.floor-plan-img-container{
    position: relative;
    margin: 0 auto;
}
.floor-plan-svg {
    position: absolute;
    height: 100%;
}
.svg-room {
    fill: rgba(0,0,0,0);
}

.svg-room:hover {
    fill: rgba(141,55,180,0.1);
    stroke: rgb(141,55,180);
    stroke-width: 1px;
    cursor: pointer;
}
.svg-room.selected{
    fill: rgba(141,55,180,0.4);
}

.close-button {
    float: right;
    background: rgba(0,0,0,0);
    border: none;
    height: 24px;
    width: 24px;
    padding: 0;
    user-focus: none;
}

.rtl-body .close-button {
    float: left;
}

.widget-title-bar {
    height: 26px;
    border-bottom:1px solid gray;
}
.widget-title {
    padding: 0 4px;
    line-height: 24px;
}

.buildings-catalog-container {
    height: 205px;
    overflow-y: auto;

}

.floor-plan-title-bar {
    height: 26px;
    border-bottom: 1px solid gray;
}

.floor-plan-title {
    padding: 0 4px;
    line-height: 24px;
}

.plus-button, .minus-button {
    height: 20px;
    width: 20px;
    font-size: 8px;
    line-height: 20px;
}

.plus-button:before {
    content: "\ea0a";
}

.minus-button:before {
    content: "\ea0b"
}

.ltr-body .plus-button {
    margin-left: 2px;
}

.rtl-body .plus-button {
    margin-right: 2px;
}

.floor-plan-popup {
    position: fixed;
    z-index: 500001;
    top: 70px;
    right: 400px;
    width: 500px;
    /*height: 500px;*/
}

.ltr-body .floor-plan-popup {
    left: 400px;
    right: auto;
}

.toggle-dock-button {
    height: 20px;
    width: 20px;
    float: left;
    margin: 3px;
    font-size: 9px;
}

.ltr-body .toggle-dock-button{
    float: right;
}

.toggle-dock-button.docked:before {
    content: '\ea31';
}

.ltr-body .toggle-dock-button.docked:before {
    content: '\ea33';
}

.toggle-dock-button.undocked:before {
    content: '\ea35';
}

.ltr-body .toggle-dock-button.undocked:before {
    content: '\ea37';
}

