<!--<div id="map" class="map" ng-controller="mapController"></div>-->
<div id="menu-bar">
    <div class="search-bar">
        <button type="button" class="search-button buttons" ng-click="search()"></button>
        <input type="text" class="search-field" ng-model="searchField"/>
        <button type="button" class="buildings-button buttons" ng-click="showBuildingsCatalog()"></button>
        <button type="button" class="staff-button buttons"></button>
    </div>

    <div class="search-box" ng-hide="!isSearchShown">
        <div class="arrow-up"></div>
        <km-search search-results="searchResults" ng-show="isSearchShown"></km-search>
    </div>

    <div class="buildings-catalog-box" ng-hide="!isBuildingsCatalogShown">
        <div class="arrow-up"></div>
        <km-catalog ng-show="isBuildingsCatalogShown"></km-catalog>
    </div>

    <div class="staff-catalog-box" ng-hide="!isStaffCatalogShown">
        <div class="arrow-up"></div>
    </div>

    <div class="room-details" ng-hide="!isRoomDetailsShown">
        <div>
            {{curRoom.id}} {{curRoom.type}} number of sits: {{curRoom.sits}} building: {{curRoom.building.hebName}}
        </div>
    </div>
    <div class="floor-plan" ng-show="isFloorPlanShown">
        <div class="floor-plan-img-container" ng-repeat="fl in floors" ng-show="fl == curFloor" >
            <img ng-src="images/{{fl.building.nodeType == 'oneFloor' ? fl.building.id : fl.buildingId + fl.number}}.png" class="floor-plan-img" >
            <svg ng-attr-view_box="{{fl.viewBox}}" class="floor-plan-svg" >
                <path ng-repeat="r in fl.children" ng-attr-d="{{r.svgPath}}" ng-class="{selected:curRoom.id==r.id}" ng-click="selectRoom(r.id)" class="svg-room" />
                <path ng-repeat="r in (fl.room ? fl.room.cubicles : [])" ng-attr-d="{{r.svgPath}}" ng-class="{selected:curRoom.id==r.id}" ng-click="selectRoom(r.id)" class="svg-room" />
            </svg>
        </div>
    </div>
</div>