<!--<div id="map" class="map" ng-controller="mapController"></div>-->
<div id="menu-bar">
    <div class="search-bar">
        <button type="button" class="search-button buttons" ng-click="search()"></button>
        <input type="text" class="search-field" ng-model="searchField"/>
        <button type="button" class="buildings-button buttons" ng-click="showBuildingsCatalog()"></button>
        <button type="button" class="staff-button buttons"></button>
    </div>

    <div class="search-box" ng-show="isSearchShown">
        <div class="arrow-up"></div>
        <div class="widget-title-bar">
            <span class="widget-title">{{langConst.searchResults[langPrefix]}}</span><button class="close-button" type="button" ng-click="closeMenu()">&#x2715;</button>
        </div>
        <km-search search-results="searchResults" ng-show="isSearchShown"></km-search>
    </div>

    <div class="buildings-catalog-box" ng-show="isBuildingsCatalogShown">
        <div class="arrow-up"></div>
        <div class="widget-title-bar">
            <span class="widget-title">{{langConst.buildings[langPrefix]}}</span><button class="close-button" type="button" ng-click="closeMenu()">&#x2715;</button>
        </div>
        <div class="buildings-catalog-container">
            <km-catalog ng-show="isBuildingsCatalogShown"></km-catalog>
        </div>
    </div>

    <div class="staff-catalog-box" ng-show="isStaffCatalogShown">
        <div class="arrow-up"></div>
    </div>

    <div class="room-details" ng-show="isRoomDetailsShown">
        <div ng-show="curRoom.nodeType == 'room' || curRoom.nodeType == 'noFloor'">
            {{curRoom.id}} {{curRoom.type}} number of sits: {{curRoom.sits}} building: {{curRoom.building.hebName}}
        </div>
        <div ng-show="curRoom.nodeType == 'building'">
            {{curRoom.id}} {{curRoom.type}} number of sits: {{curRoom.sits}} building: {{curRoom.building.hebName}}
        </div>
    </div>
    <div class="floor-plan-container">
    <div class="floor-plan" ng-show="isFloorPlanShown">
        <km-floor-plans></km-floor-plans>
    </div>
    </div>
</div>