<!--<div id="map" class="map" ng-controller="mapController"></div>-->
<div id="menu-bar" ng-controller="menuController">
    <div class="search-bar">
        <div>
            <button tabindex="3" type="button" class="search-button buttons" ng-click="search()"></button>
            <button tabindex="-1" type="button" class="buttons adv-search-button" ng-click="showAdvSearch()"></button>
        </div>
        <input tabindex="2" type="text" class="search-field" ng-model="searchField" ng-keypress="handleSearchFieldKeyPress($event)"/>
        <button tabindex="1" type="button" class="buildings-button buttons" ng-click="showBuildingsCatalog()"></button>
    </div>

    <div class="adv-search-box" ng-show="isAdvSearchShown">
        <div class="arrow-up"></div>
        <div class="widget-title-bar">
            <span class="widget-title">Advanced search</span><button class="close-button" type="button" ng-click="closeMenu()">&#x2715;</button>
        </div>
        <km-adv-search></km-adv-search>

    </div>

    <div class="search-box" ng-show="isSearchShown">
        <div class="arrow-up"></div>
        <div class="widget-title-bar">
            <span class="widget-title">{{langConst.searchResults[langPrefix]}}</span><button class="close-button" type="button" ng-click="closeMenu()">&#x2715;</button>
        </div>
        <km-search class="search-results-container" ng-show="isSearchShown"></km-search>
    </div>

    <div class="buildings-catalog-box" ng-show="isBuildingsCatalogShown">
        <div class="arrow-up"></div>
        <div class="widget-title-bar">
            <span class="widget-title">{{langConst.buildings[langPrefix]}}</span><button class="close-button" type="button" ng-click="closeMenu()">&#x2715;</button>
        </div>
        <div class="buildings-catalog-container">
            <div data-angular-treeview="true" data-tree-id="roomsTree" data-tree-model="buildingsObj" ></div>
        </div>
    </div>

    <div class="building-details-pane" ng-show="isBuildingDetailsShown">
        <div class="widget-title-bar">
            <!--<span class="widget-title">{{langConst.buildings[langPrefix]}}</span>-->
            <button class="close-button" type="button" ng-click="closeMenu()">&#x2715;</button>
        </div>
        <div class="details-wrapper">
            <div ng-hide="curBuilding.nodeType == 'noFloors'">
                {{curBuilding[langPrefix + "FullName"] || curBuilding[langPrefix + "Name"]}}
                <km-link location="curBuilding"></km-link>
            </div>
            <km-room-details ng-show="curBuilding.nodeType == 'noFloors'"></km-room-details>
        </div>
    </div>

    <div class="floor-plan" ng-class="{'floor-plan-popup': !isDocked}" ng-show="isFloorPlanShown">
        <km-floor-plans></km-floor-plans>
    </div>

    <div class="room-details-pane" ng-show="isRoomDetailsShown">
        <div class="details-wrapper">
            <km-room-details></km-room-details>
            <!--<div ng-show="curRoom">-->
                <!--{{curRoom.type ? langConst[curRoom.type][langPrefix] : ""}}-->
                <!--{{curRoom[langPrefix + "FullName"] || curRoom.hebFullName || curRoom[langPrefix + "Name"] || curRoom.hebName }}-->
                <!--<div ng-show="curRoom.type == 'classroom' || curRoom.type == 'compRoom'">-->
                    <!--{{langConst.numOfSeats[langPrefix]}}: {{curRoom.seats ? curRoom.seats + "": langConst.noData[langPrefix]}}-->
                <!--</div>-->
                <!--<div ng-show="curRoom.nodeType == 'room'">-->
                    <!--{{langConst.building[langPrefix]}}: {{curRoom.floor.building[langPrefix + "Name"]}}-->
                <!--</div>-->
            <!--</div>-->

            <div ng-show="curCubicle">
                {{curCubicle.parent[langPrefix + "Name"]}}-{{curCubicle.onMapNumber}}
            </div>
        </div>
    </div>
</div>